h3{
    text-align: center;
    color: #666666;
    margin-top: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.dino{
    width: 60px;
    height: 60px;
    margin-left: 5px;
    background-image: url('../img/dino.png');
    position: absolute; /*Ignora elementos em volta*/
    bottom: 0;
}

.cactus{
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url('../img/cactus.png');
}

.game-over{
    text-align: center;
    color: #666666;
    margin-top: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.game-start{
    text-align: center;
    color: #666666;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

@keyframes slideright {
    from {
        background-position: 70000%;
    }
    to {
        background-position: 0;
    }
}

.background {
    position: absolute;
    bottom: 0;
    background-image: url('../img/background.png');
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
    width: 100%;
    height: 200px;
}
